<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>avHTKHqH6MHPWLm7EkxcWEDR0</string>
	<key>API Secret</key>
	<string>TV5spdsph3KIQWCIT9e9CJIypn5nulz1YI5YSWrEXkMpHVrgre</string>
	<key>Token</key>
	<string>1655406799707594754-HS2HUtjoZRs6FnBOCih7rBvylro2vV</string>
	<key>Token Secret</key>
	<string>qSp6WD5WSrjXlTgx7rlqBILuhpdx5MCfLu4LzU4FCNhr6</string>
</dict>
</plist>
