<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BEARER_TOKEN</key>
	<string>AAAAAAAAAAAAAAAAAAAAAAgF7QEAAAAAU93JDVrYMSTAt7UQc5N0M8VOhZc%3DUVqMhxXEdreNNxoXyb1ycYPxHLYBFlzEh3y3BGq3gvvcS7NVdh</string>
	<key>CLIENT_ID</key>
	<string>WE9raFphV0RCZ1BsQ0dPQWZjTFg6MTpjaQ</string>
	<key>CLIENT_ID_SECRET</key>
	<string>gESr8Qrwa-zyBZGztN-RHht1GvZJ7tKajzrmTcvKggFo_UarDd</string>
	<key>API_KEY</key>
	<string>AhDcVwOVWGC9ZEH4zBBzxY5fn</string>
	<key>API_SECRET</key>
	<string>mkzQJCz825Q52Hlu7ekklHfxypDWPSllye7wSx24cj6OCMFOLc</string>
	<key>TOKEN</key>
	<string>1655406799707594754-r0RREaWbIFSTLQq9s8R470lB2pHCXN</string>
	<key>TOKEN_SECRET</key>
	<string>fqLi8MROZ41bQ4mFrAvSPQ6gQ12twcLoeBtqQSyiYKfQi</string>
</dict>
</plist>
